* {
	margin: 0;
	padding: 0;
}
body{
	font-family: Georgia, serif; 
	font-size:16px; 
}

header, nav, section{
	background: #eee;
	border: 1px solid #ff80ff;
	padding: 1%;
	margin-bottom: 1px;
	color: black; 
}

footer{
	background: #ff80ff ; 
	text-align:center; 
}

nav a{
	margin: opx 10px 0px 0px; 
}